@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans:600&display=swap');
*{
  margin: 0;
  padding: 0;
  text-decoration: none;
}


.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 10;
    background-color: #357;
    overflow-x: hidden;
    font-family: sans-serif;

    /*padding-top: 20px;*/
}

a:visited, a {
    /* text-transform: uppercase; */
    color: #357;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


.text {
    margin: 5px;
    color: lightgreen;
    text-transform: uppercase;

    /* font-family: "Roboto", sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;

}

.sidenav a {
    padding: 10px 8px 4px 12px;
    text-decoration: none;
    font-size: 14px;
    color: #ffe;
    display: block;
    /* font-family: "Roboto", sans-serif; */
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;

}

.sidenav-active {
    color: #ffffff !important;
    margin: 0;
    width: 75%; /* Change this to whatever width you want. */
    transition: 1.5s;
}

.sidenav a:hover {
    display: block;
    height: 50px;
    width: 100%;
    color: white;
    line-height: 30px;
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
}

a.active,a:hover{
    border-left: 5px solid #b93632;
    color: #b93632;
  }

  .sidenav a i{
    font-size: 10px;
    margin-right: 16px;
  }

  

.sidenav-header {
    color: black;
    background-color: #ffe;
    padding: 16px 8px;
    margin: 0px;
    text-align: left;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
}

.main {
    margin-left: 220px;
    padding: 0px 10px;
    font-size: 14px;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: revert;
    border-radius: 0.1rem;
}

.header-add {
    color: white;
    padding-top: 20px;
    padding-left: 0px;
    font-size: 1.15rem;
}

.dashboard-btn {
    color: white;
    background-color: #00a9a5;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 5px;
}

#id_keyboard_size {
    background-color: white;
}

input[type=checkbox] {
    width: 12px;
    height: 12px;
}

.text-muted {
    color: white !important;
}

.help-text {
    padding-left: 10px;
}

.page-item {
    padding-left: 3px !important;
    padding-right: 3px !important;
    padding-top: 3px !important;
}


.page-link {
    color: dodgerblue !important;
}

.active {
    color: white !important;
}

.column {
    float: left !important;
    margin-left: 5px !important;
}

.left, .right {
    width: 5% !important;
}

.middle {
    width: 50% !important;
}

.row {
    margin-top: 20px;
}

.form-check {
    padding-left: 0px;
}

.radioselect {
    float: left !important;
    margin-right: 50px;
}

.radioselect ul{
    height: unset !important;
    background-color: unset !important;
    border: unset !important;
    padding: 0px;
    margin: 0px !important;
    list-style: none;
    font-size: 14px;
}

ul li input{
    margin-right: 10px;
    height: 20px !important;
}

form label{
    width: 150px;
    justify-content: flex-start !important;
    padding-right: 10px;
}

.radioselect > div{
    align-items: baseline;
}

.radioselect ul label{
    display: inline;
}

.btn {
    margin-bottom: 1px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.dashboard-btn .even {
    background-color: #ffe;

}

tr td {
    background-color: #ffe;
    padding: 6px !important;
    margin: 4px !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.paleblue {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

.orderable {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

th {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;

}

thead > tr > th {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}


